{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container py-4">
  <div class="row justify-content-center">
    {% for service in services %}
      <div class="col-md-3 text-center mb-4">
        <img src="{{ asset('images/services/' ~ service.image) }}" class="img-fluid rounded" style="height: 160px; object-fit: cover;">
        <p class="fw-bold mt-2">{{ service.nom }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

